.container {
    display: flex;
    height: 100%;
}
.editorPanel{
    /* width: 50%; */
    flex: 1;
    height: 100%;
}

.previewPanel{
    /* width: 50%; */
    flex: 1;
    height: 100%;
    padding: 20px;
    border-left: 1px solid #ddd;
    white-space: pre-wrap;
    overflow-y: auto;
} 